In [30]:
import pickle 
import requests

import numpy as np
import pandas as pd

### get the data

In [5]:
df = pd.read_csv("bank.csv", sep=";")
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

### question #1

`pipenv, version 2023.10.3`

### question #2

`sha256:0c275a06c5190c5ce00af0acbb61c06374087949f643ef32d355ece12c4db043`

### Models

In [7]:
PREFIX="https://raw.githubusercontent.com/DataTalksClub/machine-learning-zoomcamp/master/cohorts/2023/05-deployment/homework"
!wget $PREFIX/model1.bin
!wget $PREFIX/dv.bin

--2023-10-15 09:47:14--  https://raw.githubusercontent.com/DataTalksClub/machine-learning-zoomcamp/master/cohorts/2023/05-deployment/homework/model1.bin
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 842 [application/octet-stream]
Saving to: â€˜model1.binâ€™

model1.bin          100%[===================>]     842  --.-KB/s    in 0s

2023-10-15 09:47:14 (18,9 MB/s) - â€˜model1.binâ€™ saved [842/842]

--2023-10-15 09:47:14--  https://raw.githubusercontent.com/DataTalksClub/machine-learning-zoomcamp/master/cohorts/2023/05-deployment/homework/dv.bin
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 560 [application/octet-stream]
Saving to: â€˜dv.binâ€™

dv.bin              100%[===================>]     560  --.-KB/s    in 0s

2023-10-15 09:47:15 (37,5 MB/s) - â€˜dv.binâ€™ saved [560/560]

### question #3

In [20]:
# Let's use these models!

# Write a script for loading these models with pickle
with open("model1.bin", "rb") as fin:
    model = pickle.load(fin)

with open("dv.bin", "rb") as fin:
    dv = pickle.load(fin)

/home/tinctura/.local/lib/python3.10/site-packages/sklearn/base.py:347: InconsistentVersionWarning: Trying to unpickle estimator DictVectorizer from version 1.3.1 when using version 1.3.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [21]:
dv, model

(DictVectorizer(sparse=False), LogisticRegression())

In [23]:
# Score this client:
client = {"job": "retired", "duration": 445, "poutcome": "success"}
X = dv.transform(client)
model.predict_proba(X)

array([[0.09806907, 0.90193093]])

In [24]:
# What's the probability that this client will get a credit?

`0.90193093`

### question #4

In [49]:
requests.get("http://localhost:9696/ping").text

'"pong"\n'

In [46]:
# Now let's serve this model as a web service

# Install Flask and gunicorn (or waitress, if you're on Windows)
# Write Flask code for serving the model
# Now score this client using requests:
url = "http://localhost:9696/predict"
client = {"job": "unknown", "duration": 270, "poutcome": "failure"}
response = requests.post(url, json=client)
response.json()

{'proba': [[0.8603105294764318, 0.13968947052356817]]}

In [47]:
# What's the probability that this client will get a credit?

`0.13968947052356817`

### question #5

In [48]:
# So what's the size of this base image?

```
REPOSITORY                    TAG            IMAGE ID       CREATED        SIZE
svizor/zoomcamp-model         3.10.12-slim   08266c8f0c4b   6 days ago     147MB
```

### question #6

In [50]:
url = "http://localhost:9696/predict"
client = {"job": "retired", "duration": 445, "poutcome": "success"}
requests.post(url, json=client).json()

{'proba': [[0.09806906677023941, 0.9019309332297606]]}

In [ ]:
# What's the probability that this client will get a credit now?

`0.9019309332297606`